{% extends 'base.html.twig' %}

{% block title %}New Contact{% endblock %}

{% block body %}
    <h1>Új üzenet létrehozása</h1>

    {{ include('contact/_form.html.twig') }}

    <a href="{{ path('contact_index') }}">Üzenetek megtekintése</a>
{% endblock %}
